*{
	margin:0;
	padding:0;
}
body
{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background:linear-gradient(30deg, hsl(245,70%,70%),hsl(345,40%,70%));
}
.container
{
	background:#fcfffc;
	padding:2rem;
	border-radius : 1rem;
	min-height: 30vh;
	width : 30wh;
}
.tophead{
	box-sizing:border-box;
	box-shadow: 0 0 5px #000;
	padding: 20px;
	margin: 0;
	border-radius : 1rem;
	background:linear-gradient(30deg, hsl(145,70%,70%),hsl(225,40%,70%));
}
.tophead > h1, .tophead > h3{
	font-size : 2rem;
	font-family:'consolas';
	text-align:center;	
	color : #ffffff;
	text-shadow: 0 0 5px orange, 0 0 10px maroon;
}

form{
	margin : 2rem 0 2rem 0;
	
}
form select, button, input
{
	width:100%;
	border:none;
	outline:none;
	border-radius: 0.75rem;
}
form label{
	color : #555;
	font-size : 1.7rem;
}
form input
{
	border: 1px solid lightgray;
	font-size:1rem;
	height:3rem;
	font-weight:500;
	padding: 0.5rem
}
.dropdown
{
	display:flex;
	justify-content:space-between;
	align-items: center;
	margin:1rem;
	
}
.select-container > img, .dropdown div > img
{
	max-width:2.5rem;
	
}

.select-container
{
	display:flex;
	width: 6rem;
	border: 1px solid lightgray;
	padding : 20px;
	border-radius : 0.75rem;
}
.exchangeResult
{	
	border: 1px solid lightgray;
	outline:none;
	border-radius: 0.75rem;
	height: 3rem;
	margin:10px;
	padding: 10px;

}
.exchangeResult label
{
	font-size : 1rem;
}
.exchangeResult h3
{
	font-size : 2rem;
	font-weight : 900;
	color : indigo;
}
form button
{
	height : 3rem;
	background-color : #af4293;
	font-size :1.5rem;
	color :#fff;
	font-family:'roboto';
}